<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BTBuoi8_PhamVanLeBao.Properties.Settings.QLSVConnectionString"
            connectionString="Data Source=A209PC28;Initial Catalog=QLSINHVIEN;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
        <add name="BTBuoi8_PhamVanLeBao.Properties.Settings.QLTVConnectionString"
            connectionString="Data Source=DESKTOP-T572L83\SQLEXPRESS;Initial Catalog=QLTV;Persist Security Info=True;User ID=baobao2304;Password=123456789"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>